{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        body { background-color: #333333 }
        h1 { text-align: center; color: white }
        p { color: white }
        li { list-style: none; margin: 10px 0; padding: 15px; border-radius: 7.5px}
        .home { background-color: #FF0000AA;}
        .media { background-color: #00FF00AA;}
    </style>

    <div class="example-wrapper">
        <h1>Netflux</h1>

        <ul>
            {% for routeDesc in routesList %}
                {% if routeDesc.class == 'home' %}
                    <li class="home">{{ routeDesc.content }}</li>
                {% elseif routeDesc.class == 'media' %}
                    <li class="media">{{ routeDesc.content }}</li>
                {% endif %}
            {% endfor %}
        </ul>

        <p>#pasfrontdevetçasevois</p>

    </div>
{% endblock %}